@media (max-width: 375px) {
    .header {
        background-image: url("../ASSETS/DUKI-HEADER.jpg");
        width: 100%;
        height:400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    
    }
    
    .header div ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 0px 30px;
        background-color: rgba(0, 0, 0, 0.526);
    }
    .dukivideos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        }

        .dukicanciones{
                width: 375px;
                height: 100%;
                display: flex;
                flex-direction: column;}

                .barra-contacto {
                    background-color: rgba(0, 0, 0, 0.475);
                    width: 100%;
                    height: 100%;
                    align-items: center;}
                .redes {
                    display:flex;
                    flex-direction: column;
                    padding: 0px 0px 0px 165px;
                    justify-content: center;
                    list-style: none;
}
}