@mixin grid ($col,$row,$justify,$align,$area){
    display:grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-content: $align;
    grid-template-areas: $area;
    

}
