.background-biografia {
    background-image: url("/ASSETS/MAPA-ARG-FONDO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;}
   
    .h1-biografia {
        background-color: white;
        opacity: 50%;
        text-align: center;
        padding: 10px 0px 0px 0px;
        color: rgb(0, 0, 0);
    
    }
    .texto-biografia {
        background-color: white;
        opacity: 50%;
        text-align: center;
        padding: 10px 100px 19px 100px;
        color: rgb(0, 0, 0);
        font-size: 19px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin: 10px;
    
    }