.barra-contacto {
    background-color: rgba(0, 0, 0, 0.694);
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 15px;
    .redes {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 5.625rem;
        list-style: none;}
}