.header{
    background-image: url("/ASSETS/DUKI-HEADER.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    div{
        background-color: rgba(0, 0, 0, 0.509);
        width: 100%;
        height: 50px;
    }
    ul{
        display: flex;
        list-style: none;
        color: rgb(255, 255, 255);
        justify-content: flex-end;
        gap: 1.25rem;
        padding: 13px 200px 0px 0px;
        font: size 300px;
        text-transform: uppercase;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
}